<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>140893740931-660oo3okp5hus1il43r8d2k0bakmptqd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.140893740931-660oo3okp5hus1il43r8d2k0bakmptqd</string>
	<key>API_KEY</key>
	<string>AIzaSyCcWRcf5tft_VRo5HvJp72qQVQLBDg90rg</string>
	<key>GCM_SENDER_ID</key>
	<string>140893740931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.pokedexApp</string>
	<key>PROJECT_ID</key>
	<string>pokedex-f3434</string>
	<key>STORAGE_BUCKET</key>
	<string>pokedex-f3434.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:140893740931:ios:81805f2fbd067de5e660b6</string>
</dict>
</plist>